---
import Layout from "../Layouts/Layout.astro"
---

<Layout>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container px-lg-5">
            <a class="navbar-brand" href="#!">Приветики!</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a class="nav-link active" aria-current="page" href="#!">Главная</a></li>
                    <li class="nav-item"><a class="nav-link" href="https://t.me/nedomru">TG канал</a></li>
                    <li class="nav-item"><a class="nav-link" href="https://t.me/roman_domru">Разработчик</a></li>
                    <li class="nav-item"><a class="nav-link" href="./wiki">Вика</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Header-->
    <header class="py-5">
        <div class="container px-lg-5">
            <div class="p-4 p-lg-5 bg-light rounded-3 text-center">
                <div class="m-4 m-lg-5">
                    <h1 class="display-5 fw-bold">Хелпер</h1>
                    <p class="fs-4">Инструмент, который многократно повысит эффективность твоей работы :)</p>
                    <button type="submit" class="btn btn-primary btn-lg mb-4">Установить</button>
                </div>
            </div>
        </div>
    </header>
    <!-- Page Content-->
    <section class="pt-4">
        <div class="container px-lg-5">
            <!-- Page Features-->
            <div class="row gx-lg-5">
                <div class="col-lg-6 col-xxl-4 mb-5">
                    <div class="card bg-light border-0 h-100">
                        <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                            <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><img src="/domru-helper/icons/plug.svg" alt="Bootstrap" width="32" height="32"></div>
                            <h2 class="fs-4 fw-bold">Простая установка</h2>
                            <p class="mb-0">Установка расширения не требует особых знаний</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-xxl-4 mb-5">
                    <div class="card bg-light border-0 h-100">
                        <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                            <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><img src="/domru-helper/icons/arrow-repeat.svg" alt="Bootstrap" width="32" height="32"></div>
                            <h2 class="fs-4 fw-bold">Без переустановки</h2>
                            <p class="mb-0">Расширение не нужно переустанавливать при перезапуске браузера</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-xxl-4 mb-5">
                    <div class="card bg-light border-0 h-100">
                        <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                            <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><img src="/domru-helper/icons/arrow-clockwise.svg" alt="Bootstrap" width="32" height="32"></div>
                            <h2 class="fs-4 fw-bold">Обновления</h2>
                            <p class="mb-0">Активная поддержка кода, обновления и исправления багов <br />Установка
                                обновления в одну кнопку</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-xxl-4 mb-5">
                    <div class="card bg-light border-0 h-100">
                        <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                            <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><img src="/domru-helper/icons/gear.svg" alt="Bootstrap" width="32" height="32"></div>
                            <h2 class="fs-4 fw-bold">Огромный функционал</h2>
                            <p class="mb-0">Расширение содержит в себе большое кол-во оптимизаций и добавлений к
                                стандартным рабочим инструментам</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-xxl-4 mb-5">
                    <div class="card bg-light border-0 h-100">
                        <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                            <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><img src="/domru-helper/icons/browser-firefox.svg" alt="Bootstrap" width="32" height="32"></div>
                            <h2 class="fs-4 fw-bold">Обратная совместимость</h2>
                            <p class="mb-0">Расширение корректно работает со всеми версиями браузера Firefox</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-xxl-4 mb-5">
                    <div class="card bg-light border-0 h-100">
                        <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                            <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><img src="/domru-helper/icons/lightbulb.svg" alt="Bootstrap" width="32" height="32"></div>
                            <h2 class="fs-4 fw-bold">Адаптивность</h2>
                            <p class="mb-0">Расширение развивается благодаря вашим предложениям. Предложить доработку
                                можно <a href="https://t.me/roman_domru">тут</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Не будь букой, заходи в <a href="https://t.me/nedomru">канал</a></p>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
</Layout>
