---
interface Props {
  title: string;
  description: string;
  icon: string;
}
const { title, description, icon } = Astro.props;
---

<div class="col-lg-6 col-xxl-4 mb-5">
  <div class="card bg-light border-0 h-100">
    <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
      <div
        class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"
      >
        <img src={icon} alt="Bootstrap" width="32" height="32" />
      </div>
      <h2 class="fs-4 fw-bold">{title}</h2>
      <p class="mb-0">{description}</p>
    </div>
  </div>
</div>
